<?xml version="1.0"?>

<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsCE.Forms" publicKeyToken="969DB8053D3322AC" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NewBinding0" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8733/PrinterService/"
          binding="netTcpBinding" bindingConfiguration="NewBinding0"
          contract="GammaService.Interfaces.IPrinterService" name="TSD">
        <identity>
          <dns value="localhost" />
          <certificateReference storeName="My" storeLocation="LocalMachine"
              x509FindType="FindBySubjectDistinguishedName" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>