<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="ServerIP" value="192.168.5.97" />
    <add key="Database" value="gammanew" />
    <add key="UserName" value="tsd" />
    <add key="Password" value="tsdmobile" />
    <add key="TimeOut" value="30" />
  </appSettings>
</configuration>