<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="ServerIP" value="192.168.0.53\gammanew" />
    <add key="Database" value="gammanew" />
    <add key="UserName" value="sa" />
    <add key="Password" value="123456" />
    <add key="TimeOut" value="10" />
  </appSettings>
</configuration>